<h1><center>Intro to Data Science Industry Project</h1></center>
<h2><center>Columbia University Professor Rating System</h2></center>

# Webscraping progress
- **[DONE: df_70k_80k.csv]** 70k to 80k 
- (or we could figure out multiprocessing or use scrapy)

## Import block

In [18]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup 
import re
from urllib.request import urlopen 
from tqdm import tqdm

# Table of contents
- [Webscraping (slow) code](#webscrapingslowcode)
- [Reading in scraped csv files](#readinginscrapedcsvfiles)
- [NLTK Pranjal](#nltkpranjal)
- [Old Code](#oldcode)

## Webscraping (IDs 70000 to 80000) [Weida v2] <a name="webscrapingslowcode"></a>

In [ ]:
df = pd.DataFrame(columns=['review_id', 'review_date' ,'review_text', 'agree_score', 'disagree_score',
                             'funny_score', 'professor_id', 'professor_name', 'course_id', 'course_name'])
for i in tqdm(range(70000, 80000)):
    url = 'http://culpa.info/reviews/{}'.format(i)
    r = urlopen(url).read() 
    soup = BeautifulSoup(r, "lxml") 
    # if review doesn't exist, it redirects to home page, maybe use len() to check if we got redirected
    if len(soup.text) > 15500:
        continue
    
    professor = soup.find(href=re.compile('(professor)'))
    if professor == None:
        professor_id = None
        professor_name = None
    else:
        professor_id = professor['href'][12:]
        professor_name = professor.text
    
    courses = soup.find_all(href=re.compile('(courses)'))
    if courses == None:
        course_id = None
        course_name = None
    else:
        course_id = courses[-(len(courses) - 7)]['href'][9:]
        course_name = courses[-(len(courses) - 7)].text

    review_id = soup.find(href=re.compile('(reviews)'))['href'][9:]
    review_text = soup.find(class_='review_content').text
    review_date = pd.Timestamp(soup.find(class_='date').text.strip())
    agree_score = re.findall('\d+', soup.find(class_='agree')['value'])[0]
    disagree_score = re.findall('\d+', soup.find(class_='disagree')['value'])[0]
    funny_score = re.findall('\d+', soup.find(class_='funny')['value'])[0]

    to_append = pd.DataFrame(data=[review_id, review_date, review_text, agree_score, 
                                   disagree_score, funny_score, professor_id, professor_name,
                                   course_id, course_name],
                            index=['review_id', 'review_date' ,'review_text', 'agree_score', 
                                   'disagree_score', 'funny_score', 'professor_id', 
                                   'professor_name', 'course_id', 'course_name']).T
    
    df = pd.concat([df, to_append], ignore_index=True)

In [ ]:
df.professor_id = df.professor_id.apply(int)

In [ ]:
# Export to csv
df.to_csv('df_70k_80k.csv')

#### Check out the scraped Data: First 5 Rows

In [11]:
df_70k_80k.head()

,Unnamed: 0,review_id,review_date,review_text,agree_score,disagree_score,funny_score,professor_id,professor_name,course_id,course_name
0,0,70013,2014-12-15 00:00:00,\r\nBest teacher I've ever had at Columbia. \r...,3,0,0,2080.0,"Neely, Evan (TA)",137,Art Hum
1,1,70014,2014-12-15 00:00:00,\r\nAlma Mora is the WORST professor I have ha...,0,0,0,NaN,NaN,242,[SPAN V1102] Elementary Spanish II
2,2,70144,2014-12-15 00:00:00,\r\nProf. Collins did a flipped classroom form...,6,0,0,10729.0,"Collins, Michael",4903,[COMS W4705] Natural Language Processing
3,3,70204,2014-12-15 00:00:00,\r\nI found this course to be a major disappoi...,4,2,0,3540.0,"Gundogdu, Ayten",137,Art Hum
4,4,70205,2014-12-15 00:00:00,\r\nProf Connor's class was very enjoyable. Th...,4,0,1,2350.0,"Connor, Peter",5547,[CPLT BC3110] Intro to Translation Studies

# Reading in scraped csv files <a name="readinginscrapedcsvfiles"></a>

In [7]:
df_70k_80k = pd.read_csv('df_70k_80k.csv')

In [31]:
df_70k_80k.agree_score = df_70k_80k.agree_score.apply(float)
df_70k_80k.disagree_score = df_70k_80k.disagree_score.apply(float)
df_70k_80k.funny_score = df_70k_80k.funny_score.apply(float)

In [33]:
df_70k_80k.head(5)

,Unnamed: 0,review_id,review_date,review_text,agree_score,disagree_score,funny_score,professor_id,professor_name,course_id,course_name
0,0,70013,2014-12-15 00:00:00,\r\nBest teacher I've ever had at Columbia. \r...,3.0,0.0,0.0,2080.0,"Neely, Evan (TA)",137,Art Hum
1,1,70014,2014-12-15 00:00:00,\r\nAlma Mora is the WORST professor I have ha...,0.0,0.0,0.0,NaN,NaN,242,[SPAN V1102] Elementary Spanish II
2,2,70144,2014-12-15 00:00:00,\r\nProf. Collins did a flipped classroom form...,6.0,0.0,0.0,10729.0,"Collins, Michael",4903,[COMS W4705] Natural Language Processing
3,3,70204,2014-12-15 00:00:00,\r\nI found this course to be a major disappoi...,4.0,2.0,0.0,3540.0,"Gundogdu, Ayten",137,Art Hum
4,4,70205,2014-12-15 00:00:00,\r\nProf Connor's class was very enjoyable. Th...,4.0,0.0,1.0,2350.0,"Connor, Peter",5547,[CPLT BC3110] Intro to Translation Studies

# Trying Natural Language Toolkit <a name="nltkpranjal"></a>

In [1]:
import nltk
#nltk.download() # only need to do this once

In [4]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

C:\adiewux\Anaconda3\lib\site-packages\nltk\twitter\__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

#### Take a subset of the data (df_70k_80k) for NLTK analysis

In [57]:
subset = df_70k_80k[:20] # subset of the first 10 reviews
reviews = subset['review_text'] # just the review column

In [58]:
all_pred_sentiments = []

for review in tqdm(reviews): # for each review, 
    pred_sentiment = sid.polarity_scores(review) # calculate the sentiment scores
    all_pred_sentiments.append(pred_sentiment) # and append them to a list

100%|█████████████████████████████████████████████████████████████████████████████████| 20/20 [00:00<00:00, 213.30it/s]

In [59]:
subset = pd.concat([subset, pd.DataFrame(all_pred_sentiments)], axis=1) # add these new columns to our dataframe!

In [60]:
subset.head()

,Unnamed: 0,review_id,review_date,review_text,agree_score,disagree_score,funny_score,professor_id,professor_name,course_id,course_name,compound,neg,neu,pos
0,0,70013,2014-12-15 00:00:00,\r\nBest teacher I've ever had at Columbia. \r...,3.0,0.0,0.0,2080.0,"Neely, Evan (TA)",137,Art Hum,0.5267,0.090,0.700,0.210
1,1,70014,2014-12-15 00:00:00,\r\nAlma Mora is the WORST professor I have ha...,0.0,0.0,0.0,NaN,NaN,242,[SPAN V1102] Elementary Spanish II,-0.8429,0.066,0.884,0.050
2,2,70144,2014-12-15 00:00:00,\r\nProf. Collins did a flipped classroom form...,6.0,0.0,0.0,10729.0,"Collins, Michael",4903,[COMS W4705] Natural Language Processing,0.9898,0.032,0.840,0.128
3,3,70204,2014-12-15 00:00:00,\r\nI found this course to be a major disappoi...,4.0,2.0,0.0,3540.0,"Gundogdu, Ayten",137,Art Hum,0.8254,0.055,0.832,0.113
4,4,70205,2014-12-15 00:00:00,\r\nProf Connor's class was very enjoyable. Th...,4.0,0.0,1.0,2350.0,"Connor, Peter",5547,[CPLT BC3110] Intro to Translation Studies,0.9990,0.010,0.819,0.171

#### Add weights for Agree/Disagree scores and append *Weighted Scores* to the DataFrame

Formula to calculate weights:

In [104]:
#weight = subset.loc[1,'agree_score'] * subset.loc[1,'agree_score'] + subset.loc[1,'disagree_score']

$$ Weight = \frac{Agree}{Agree + Disagree}$$

Is this good?

In [61]:
weight = np.multiply(subset['agree_score'], np.reciprocal(subset['agree_score'] + subset['disagree_score']))
weight = weight.fillna(1.0)
weight.name = 'weight'
subset = pd.concat([subset, weight], axis=1)

C:\adiewux\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in reciprocal
  """Entry point for launching an IPython kernel.
C:\adiewux\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in multiply
  """Entry point for launching an IPython kernel.

In [63]:
subset.head()

,Unnamed: 0,review_id,review_date,review_text,agree_score,disagree_score,funny_score,professor_id,professor_name,course_id,course_name,compound,neg,neu,pos,weight
0,0,70013,2014-12-15 00:00:00,\r\nBest teacher I've ever had at Columbia. \r...,3.0,0.0,0.0,2080.0,"Neely, Evan (TA)",137,Art Hum,0.5267,0.090,0.700,0.210,1.000000
1,1,70014,2014-12-15 00:00:00,\r\nAlma Mora is the WORST professor I have ha...,0.0,0.0,0.0,NaN,NaN,242,[SPAN V1102] Elementary Spanish II,-0.8429,0.066,0.884,0.050,1.000000
2,2,70144,2014-12-15 00:00:00,\r\nProf. Collins did a flipped classroom form...,6.0,0.0,0.0,10729.0,"Collins, Michael",4903,[COMS W4705] Natural Language Processing,0.9898,0.032,0.840,0.128,1.000000
3,3,70204,2014-12-15 00:00:00,\r\nI found this course to be a major disappoi...,4.0,2.0,0.0,3540.0,"Gundogdu, Ayten",137,Art Hum,0.8254,0.055,0.832,0.113,0.666667
4,4,70205,2014-12-15 00:00:00,\r\nProf Connor's class was very enjoyable. Th...,4.0,0.0,1.0,2350.0,"Connor, Peter",5547,[CPLT BC3110] Intro to Translation Studies,0.9990,0.010,0.819,0.171,1.000000


---
# Old code <a name="oldcode"></a>

### Webscraping (IDs 20000 to 20100) [Weida]

In [80]:
'''
from bs4 import BeautifulSoup 
import re
from urllib.request import urlopen 
import pandas as pd
from tqdm import tqdm #shows progress

df_200_201 = pd.DataFrame(columns=['review_id', 'review_date' ,'review_text', 'agree_score', 'disagree_score',
                             'funny_score', 'professor_id', 'professor_name'])
for i in tqdm(range(20000, 20100)):
    url = 'http://culpa.info/reviews/{}'.format(i)
    r = urlopen(url).read() 
    soup = BeautifulSoup(r, "lxml") 
    # if review doesn't exist, it redirects to home page, maybe use len() to check if we got redirected
    if len(soup.text) > 15500:
        continue

    professor_id = int(soup.find(href=re.compile('(professor)'))['href'][12:])
    professor_name = soup.find(href=re.compile('(professor)')).text
    review_id = int(soup.find(href=re.compile('(reviews)'))['href'][9:])
    review_text = soup.find(class_='review_content').text
    review_date = pd.Timestamp(soup.find(class_='date').text.strip())
    agree_score = int(re.findall('\d+', soup.find(class_='agree')['value'])[0])
    disagree_score = int(re.findall('\d+', soup.find(class_='disagree')['value'])[0])
    funny_score = int(re.findall('\d+', soup.find(class_='funny')['value'])[0])

    to_append = pd.DataFrame(data=[review_id, review_date, review_text, agree_score, 
                              disagree_score, funny_score, professor_id, professor_name],
                            index=['review_id', 'review_date' ,'review_text', 'agree_score', 
                              'disagree_score', 'funny_score', 'professor_id', 'professor_name']).T
    
    df_200_201 = pd.concat([df_200_201, to_append], ignore_index=True)
'''

100%|██████████| 100/100 [01:45<00:00,  1.05s/it]

#### Check out the scraped data: : First 5 Rows

In [8]:
df_200_201.head()

,review_id,review_date,review_text,agree_score,disagree_score,funny_score,professor_id,professor_name
0,20000,2007-05-18 00:00:00,\nComing off a semester of very little work in...,0,0,0,3281,"Veneziano Broccia, Lillyrose"
1,20001,2007-05-18 00:00:00,\nI had Professor Robbins for a lecture in the...,4,2,0,744,"Robbins, Bruce"
2,20002,2007-05-18 00:00:00,\nIt's a little hard for me to criticize Profe...,5,2,0,115,"Sacks, Richard"
3,20003,2007-05-18 00:00:00,\nThis class was a disaster. Professor Daniel ...,4,2,0,456,"Daniel, Valentine"
4,20004,2007-05-19 00:00:00,\nLovely class and professor. The class was mo...,3,3,0,2371,"Radwan, Noha"

### Weights

Formula to calculate weights while iterating (Sorry, can't get it to function -- brain dead right now haha :P)
#### Can anyone fix this?
- **skipped using loops, refer to above [weida]**

In [136]:
weighted_score = pd.DataFrame({'weighted_score' : []}) #empty pandas column

for i in tqdm(range(len(subset.index))): #iterate over length of dataframe (i.e. subset.index)
    denominator = subset.loc[i,'agree_score'] + subset.loc[i,'disagree_score']
    
    if denominator != 0: #to avoid math error 
        weights = subset.loc[i,'agree_score'] / denominator
        w_score = subset.loc[i,'compound'] * weight #calculate weighted score (w_score)
        weighted_score.append(w_score) #append it to the empty pandas column

subset = pd.concat([subset, weighted_score], ignore_index=True) #add to the our dataframe, subset

  0%|          | 0/20 [00:00<?, ?it/s]

TypeError: cannot concatenate a non-NDFrame object